@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;800&display=swap");

body {
  font-family: "Almarai", sans-serif;
}

h1 {
  font-size: 5rem;
  line-height: 1;
}

.about-section p {
  color: rgb(63, 63, 63);
}

h2,
h3,
.button {
  letter-spacing: 0;
}

article,
.credit {
  text-align: right;
}

.downloads,
.about-section {
  flex-direction: row-reverse;
}

#highlight {
  font-weight: 800;
  font-style: normal;
}

@media screen and (min-width: 1100px) and (min-height: 700px) {
  .download-cluster {
      margin-left: 4vw;
      margin-right: 4vw;
  }
}
